<div class="container col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">Health Declaration (demo)</span>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item" >
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/form']">Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin']">Admin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>